* {
    padding: 0;
    margin: 0;
}

.confirm-payment-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-service-details {
    padding: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid; */
    width: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 4px rgb(186, 185, 185);
    height: 550px;
}

.confirm-service-body p,
.confirm-service-body h1 {
    padding-top: 10px;
    color: black;
    font-family: var(--mainfont);
}

.confirm-service-body {
    width: 370px;
}